<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Fila de Atendimento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button expand="block" color="success" (click)="ticketService.chamarProximo()">
    Chamar Próximo
  </ion-button>

  <ion-list>
    <ion-item *ngFor="let t of ticketService.fila">
      <ion-label>
        <h2>{{ t.numero }}</h2>
        <p>Tipo: {{ t.tipo }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-list>
  <ion-item-divider>
    <ion-label>Relatório Detalhado</ion-label>
  </ion-item-divider>

  <ion-item *ngFor="let t of ticketService.todosOsTickets">
    <ion-label>
      <h2>{{ t.numero }} ({{ t.tipo }})</h2>
      <p>Emissão: {{ t.horaEmissao | date:'HH:mm:ss' }}</p>
      <p *ngIf="t.atendido">
        Atendimento: {{ t.horaAtendimento | date:'HH:mm:ss' }} - Guichê: {{ t.guiche }}
      </p>
      <p *ngIf="!t.atendido" style="color: red;">Aguardando atendimento</p>
    </ion-label>
  </ion-item>
</ion-list>