<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Histórico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card *ngFor="let h of ticketService.historico">

    <ion-card-header>
      <ion-card-title>
        {{ h.numero }}
      </ion-card-title>
      <ion-card-subtitle>
        Tipo: {{ h.tipo }}
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p><strong>Guichê:</strong> {{ h.guiche }}</p>
      <p><strong>Atendido em:</strong> {{ h.horaAtendimento | date:'dd/MM/yyyy HH:mm:ss' }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-title>Desempenho Geral</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item lines="none">
      <ion-label>
        <h2>Tempo Médio de Atendimento (TM)</h2>
        <p style="font-size: 24px; color: var(--ion-color-primary); font-weight: bold;">
          {{ ticketService.getTempoMedioAtendimento() }} min
        </p>
      </ion-label>
    </ion-item>
  </ion-card-content>
</ion-card>
